<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>群设置</title>
    <link rel="stylesheet" type="text/css" href="../../css/api.css"/>
    <style>
    	/*头部*/
	    	header{
	    		position: fixed;
		    	top:0;
		    	left:0;
	    		display:inline-block;
	    		width:100vw;
	    		height:18.67vw;
	    		background: #ffffff;
	    		box-shadow: 0 0 10px #efefef;
	    		z-index:10000;
	    	}
	    	header .left{
	    		position: absolute;
		    	/*bottom:1vw;
		    	left:8vw;*/
					bottom: 17%;
					left:10px;
	    		display:inline-block;
	    		width:9vw;
	    		height:9vw;
	    		z-index:2;
	    	}
	    	header .center{
	    		position: absolute;
		    	/*bottom:2vw;
		    	left:50%;*/

					bottom: 23%;
					left: 50%;
				transform:translate(-50%);
				color:#fff;
	    		display:inline-block;
	    		z-index:2;
	    	}
	    	header .right{
	    		position: absolute;
		    	/*bottom:1vw;
		    	right:8vw;*/
					bottom: 17%;
					right: 10px;
	    		display:inline-block;
	    		width:9vw;
	    		height:9vw;
	    		z-index:2;
	    	}
	    	/*遮罩层*/
	    	.mark{
	    		position:absolute;
		    	top:0;
		    	left:0;
		    	width:100%;
		    	height:100%;
		    	background-color:#000000;
		    	opacity: 0.5;
		    	z-index: 3;
		    	display: none;
	    	}
	    	/*群信息*/
	    	.group_information{
	    		margin:18.67vw 5.33vw 0 5.33vw;
	    		width:89.33vw;
	    		text-align:center;
	    	}
	    	.group_information .group_avatar{
	    		display:inline-block;
	    		width:28.46vw;
	    		height:28.46vw;
	    		margin:5vw auto;
					border-radius: 10px;
					background-size: cover;
					background-position: center;
	    	}
	    	.group_information .group_name{
				font-size:18px;
				color:#484848;
				font-weight: bold;
	    	}
	    	.group_information .group_describe{
	    		margin:5vw 0 10vw 0;
				font-size:4vw;
				color:#AAAAAA;
				text-align:left;
	    	}

	    	/*群设置*/
	    	.group_setting{
	    		margin:0 5.33vw;
	    		width:89.33vw;
	    		text-align:center;
	    	}
	    	.group_setting .group_setting_list{
				width: 100%;
				height: 10.67vw;
	    		margin:4vw auto;
				line-height: 10.67vw;
				border-radius: 3.75vw;
				background-color: #EFEFEF;
				text-align: center;

	    	}
	    	.group_setting_list .left{
	    		font-weight: bold;
	    		margin:auto 5vw;
	    		color:#484848;
	    		font-size:4vw;
	    		display:inline-block;
	    		float:left;
	    	}
	    	.group_setting_list .right{
	    		display:inline-block;
	    		float:right;
	    		width:6.67vw;
	    		height:6.67vw;
	    		margin:2vw 5vw;
	    	}
	    	.color_red{
	    		color:red !important;
	    	}

	    	/*群成员*/
	    	.group_member{
	    		padding:2.7vw;
				background-color: #EFEFEF;
				overflow: hidden;
	    	}
	    	.group_member .group_member_list{
		    	display:inline-block;
		    	float:left;
		    	width:18.25vw;
		    	margin:2.7vw;
	    	}
	    	.group_member_list .member_avatar{
	    		position:relative;
		    	width:18.25vw;
		    	height:18.25vw;
				border-radius: 18.25vw;
				background-size:cover;
	    	}
	    	.group_member_list .member_avatar .identity{
	    		position:absolute;
	    		right:0;
	    		bottom:0;
	    		width:6.67vw;
	    		height:6.67vw;
	    	}
	    	.group_member_list .member_nickname{
	    		width:100%;
	    		height:5vw;
	    		line-height:7vw;
	    		color:#484848;
	    		font-size:12px;
	    		text-align:center;
					font-weight: bold;

	    		display: -webkit-box;
	    		-webkit-box-orient: vertical;
	    		-webkit-line-clamp: 1;
	    		text-overflow: ellipsis;
	    		overflow: hidden;
	    	}
    </style>
</head>
<body>
	<!--创建群组弹窗-->
	<!--群列表-->
	<main id="group_setting">


		<!--<div class="mark"></div>-->

		<!--头部-->
		<header>
			<img class="left" src="../../icon/messages/back.png" @click="back()">
			<span class="center" style="color: black;"><span class="member">Member</span> {{members.length}} </span>
			<!-- <img class="right openadd" @click="openadd()" src="../../icon/more.png"> -->
		</header>
		<!--群信息-->
		<div class="group_information">
			<!--群头像-->
			<div class="group_avatar"  :style="{backgroundImage:'url(' + 'http://bin.baopinghui.com/'+group.desc + ')'}"  ></div>
			<!-- :src="'http://bin.baopinghui.com/'+group.desc" -->

			<!--群名字-->
			<p class="group_name">{{group.name}}</p>

			<!--群描述-->
			<p class="group_describe"></p>
			<!-- {{group.avatar}} -->
		</div>
		<!--群设置-->
		<div class="group_setting">
			<!--修改群名称--><!--群主&管理员特权-->
			<div v-if="my_identity == 1 || my_identity == 2" @click="modify_the_groupName()" class="group_setting_list">
				<span class="left abcd">{{qunming}}</span>
				<img class="right" src="../../icon/search/toright.png" alt="" />
			</div>

			<!--修改群资料--><!--群主&管理员特权-->
			<!-- <div v-if="my_identity == 1 || my_identity == 2" @click="modify_the_groupPorfile()" class="group_setting_list">
				<span class="left">Modify The Group Profile</span>
				<img class="right" src="../../icon/search/toright.png" alt="" />
			</div> -->

			<div v-if="my_identity == 1 || my_identity == 2" @click="modify_the_groupPorfile()" class="group_setting_list" style="display:none;">
				<span class="left qunziliao">{{qunjieshao}}</span>
				<img class="right" src="../../icon/search/toright.png" alt="" />
			</div>

			<!--修改群组头像--><!--群主&管理员特权-->
			<div v-if="my_identity == 1 || my_identity == 2" @click="modify_the_groupImage()" class="group_setting_list">
				<span class="left quntouxiang">{{quntouxiang}}</span>
				<img class="right" src="../../icon/search/toright.png" alt="" />
			</div>

			<!--消息提醒-->
			<div class="group_setting_list" style="display:none;">
				<span class="left xiaoxi">Message Notification</span>
				<img class="right getMessage" src="../../icon/search/toright.png" alt="" />
			</div>

			<!--显示二维码-->
			<div @click="display_or_code()" class="group_setting_list" style="display:none;">
				<span class="left erweima">Display QR Code</span>
				<img class="right" src="../../icon/search/toright.png" alt="" />
			</div>

			<!--添加成员-->
			<div v-if="my_identity == 1 || my_identity == 2" @click="addMembers()" class="group_setting_list">
				<span class="left tianjia">{{jiaren}}</span>
				<img class="right" src="../../icon/search/toright.png" alt="" />
			</div>

			<!--离开群组--><!--管理员%普通成员-->
			<div v-if="my_identity != 1 " @click="leave_group_chat()" class="group_setting_list">
				<span class="left color_red likai">{{tuiqun}}</span>
				<img class="right" src="../../icon/search/toright.png" alt="" />
			</div>

			<!--解散群组--><!--群主特权-->
			<div v-if="my_identity == 1 " @click="leave_the_group()" class="group_setting_list">
				<span class="left color_red jiesan" >{{jiequn}}</span>
				<img class="right" src="../../icon/search/toright.png" alt="" />
			</div>
		</div>
		<!--群成员-->
		<div class="group_member" v-if="members.length > 0">
			<div v-for="member in members" class="group_member_list" @click="management(member)">
				<div class="member_avatar" v-bind:style="{backgroundImage: 'url(http://bin.baopinghui.com/' + member.avatar + '?imageView2/0/w/100)'}">
					<img v-if="member.flag == 1"class="identity" src="../../icon/group/leader.png" alt="" />
					<img v-else-if="member.flag == 2"class="identity" src="../../icon/group/administrators.png" alt="" />
				</div>
				<span class="member_nickname">{{member.nickName}}</span>
			</div>
		</div>
	</main>
</body>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../script/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="../../script/vue.js"></script>
	<script type="text/javascript" src="../../script/api.js"></script>
	<script type="text/javascript" src="../../json/api.json"></script>
	<script type="text/javascript" src="../../json/router.json"></script>

	<script src="../../script/jmessage-sdk-web.2.6.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../script/base64.min.js" type="text/javascript"></script>
	<script src="../../script/md5.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	var gid = '',//群ID
		uiid = '',//我的ID
		nickname = '',//用户名
		avatar = '',//用户用户id
		lock = true;

	apiready = function(){


		gid = api.pageParam["gid"];
		uiid = $api.getStorage("id");
		qiniu = api.require('qiniuUpfile');
		head = $api.dom("#head");


//		获取群组列表
		jim_init();

		//向右滑关闭页面
		api.addEventListener({
			name: 'swiperight'
		}, function(ret, err) {
			group.back();

			// api.closeWin({});
		});
		//安卓返回键关闭页面
		api.addEventListener({
		    name: 'keyback'
		}, function(ret, err){
			  group.back();

		});


			if($api.getStorage("language") == "zho"){
				//$api.text($api.dom('.mingcheng'),"修改群名称")
				//$('.group_setting_list>.abcd').text("修改群名称");
				group.qunming=" 修 改 群 组 名 称 ";
				group.qunjieshao=" 修 改 群 组 介 绍 ";
				group.quntouxiang=" 修 改 群 组 头 像 ";
				group.jiaren=" 添 加 群 组 成 员 ";
				group.tuiqun=" 退 出 群 组 ";
				group.jiequn=" 解 散 群 组 ";


			}
	};




	var group = new Vue({
	  el: '#group_setting',
	  data: {
	    group:[],//群的所有的信息
	    members:[],//群成员列表
	    my_identity:0,//我在群内的身份-0-、普通成员-1-、群主-2-、管理员
	    my_keep_silence:false,
			//是否保持沉默 -trun-、接收消息  —false—拒收消息

	    avatar:'../../icon/logon-page/headimg.png',//头像
			qunming:'Modify The Group Name',//
			qunjieshao:'Modify The Group Profile',
			quntouxiang:'Modify Group Image',
			jiaren:'Add Members',
			tuiqun:'Leave The Group',
			jiequn:'Dissolve The Group'
	  },
	  methods: {
			// setlanuage () {
			// 	this.$nextTick(function(){
			// 			this.group.name="哈哈哈哈哈";
			// 			alert("哈哈哈");
			// 	});
			// },
			//关闭页面
		  	back: function(item) {
					// api.sendEvent({
					//     name: 'shua',
					//     extra: {
					//         key1: 0
					//     }
					// });
				// JIM.loginOut();
					api.sendEvent({
					    name: 'settingback',
					    extra: {
					        key1: 'value1'
					    }
					});


					// refreshfn();
					// 打开群聊页面
				// 	api.openWin({
				// name:'group_chat',
				// url:router['widget']+"group/group_chat.html",
				// slidBackEnabled: false,
				// // animation: {
				// // 	type: "fade", //动画类型（详见动画类型常量）
				// // 	subType: "fade", //动画子类型（详见动画子类型常量）
				// // 	duration: 250 //动画过渡时间，默认300毫秒
				// // },
				// pageParam: {
				// 	// //  avatar: message['avatar_url'],
				// 	gid: api.pageParam["gid"],
				// 	gname:group.group.name
				//
				//
				// 	}
				// });
					api.closeWin({
					});

		  	},
			// gba: function(item) {
			// 	alert('你好');
			//
			// },
	  	//修改群名
	  	modify_the_groupName: function(item) {
				jim_init2();
	  		api.openFrame({
				name: "reply",
				url: "widget://html/details/reply.html",
				rect: {
					x: 0,
					y: 0,
					w: "auto",
					h: "auto"
				},
				pageParam:{
					modify_the_group: 'groupName',
				}
			});
	  	},
	  	//修改群描述
	  	modify_the_groupPorfile: function(item) {
				jim_init();
	  		api.openFrame({
				name: "reply",
				url: "widget://html/details/reply.html",
				rect: {
					x: 0,
					y: 0,
					w: "auto",
					h: "auto"
				},
				pageParam:{
					modify_the_group: 'groupPorfile',
				}
			});

	  	},
	  	//更改群头像
	  	modify_the_groupImage: function(item) {
				jim_init();
	  		//alert('更改群头像');
				api.getPicture({
	    		sourceType: "library",
	    		mediaValue: "pic",
	    		destinationType: "url",
	    		saveToPhotoAlbum: true,
	    		quality: 70,
	    		targetWidth: 1200,
	    		targetHeight: 1200,
	    	}, function(ret, err){
	    		if(ret){
						//alert(JSON.stringify(ret));
	    			if(ret.data){
	    				var data = ret.data,
	    					myDate = new Date(),
	    					avatar = data;
								//alert(avatar);
	    				var obj = api.require('qiniuUpfile');
						obj.upfile({
							file: avatar,
							name: myDate.getTime() + Math.random()
						}, function(ret, err) {
							if(ret.status) {
								if(ret.oper == "complete") {
									var qiniuKey = ret.info.key;
									//alert(ret.info.key);
									JIM.updateGroupInfo({
										 'gid' : api.pageParam["gid"],
										 'group_description' : ret.info.key
									}).onSuccess(function(data) {
										//alert('成功');
										refreshfn_ing();
											//data.code 返回码
											//data.message 描述
									}).onFail(function(data) {
											//alert(JSON.stringify(data));
											alert('失败');
									});

								}
								return;
							}
							alert("上传失败");
							return;
						});
	    			};
	    			return;
	    		};
				console.log(err);
	    	});
	  	},
	  	//显示二维码
	  	display_or_code: function(item) {
	  		alert('显示二维码');

	  	},
	  	//添加成员
	  	addMembers: function(item) {
				jim_init();
			api.openFrame({
			    name: 'add_members',
			    url: 'widget://html/group/add-members.html',
			    rect: {
			        x: 0,
			        y: 0,
			        w: 'auto',
			        h: 'auto'
			    },
			    slidBackEnabled: false,
				animation: {
					type: "fade", //动画类型（详见动画类型常量）
					subType: "fade", //动画子类型（详见动画子类型常量）
					duration: 250 //动画过渡时间，默认300毫秒
				}
			});

	  	},
	  	//离开群组
	  	leave_group_chat: function(item) {
				jim_init();
	  		var this_ = this;
	  		JIM.exitGroup({
                'gid' : gid
            }).onSuccess(function(data) {
                console.log('退出群成功：'+JSON.stringify(data));
								api.ajax({
								    url: 'http://api.baopinghui.com/tin_Groups/updateGroupsActive',
								    method: 'post',
								    data: {
								        values: {
								            operation: 'exit',
														gid:gid
								        },
								    }
								},function(ret, err){
								    if (ret) {
											//alert("退出群成功")
								        //alert( JSON.stringify( ret ) );
								    } else {
								        alert( "退出群失败"+JSON.stringify( err ) );
								    }
								});



										 //关闭页面
									//  this_.$options.methods.back();
									 api.closeWin({
									     });
										// alert('解散群成功');
									 //发送事务给群聊页面关闭页面
									  api.sendEvent({
											 name: 'shuaAll',
											 extra: {
													 key1: 1  //key没有用到

											 }
										});


            }).onFail(function(data) {
                console.log('退出群失败：'+JSON.stringify(data));
                alert('退出群失败' + JSON.stringify(data));
            });

	  	},
	  	//解散群组
	  	leave_the_group: function(item) {
				jim_init();
	  		var this_ = this;
	  		console.log(gid);
	  		JIM.dissolveGroup({
                'gid' : gid
            }).onSuccess(function(data) {




					api.ajax({
							url: 'http://api.baopinghui.com/tin_Groups/deleteGroups',
							method: 'post',
							data: {
									values: {
											gid: gid
									},
							}
					},function(ret, err){
							if (ret) {
									//alert('解散群成功');
									//alert( JSON.stringify( ret ) );
							} else {
									alert( "解散群失败"+JSON.stringify( err ) );
							}
					});

					//关闭页面
									//  this_.$options.methods.back();
									 api.closeWin({
									     });
										// alert('解散群成功');
									 //发送事务给群聊页面关闭页面
									  api.sendEvent({
											 name: 'shuaAll',
											 extra: {
													 key1: 1  //key没有用到

											 }
										});

					console.log('解散群成功：'+JSON.stringify(data));
            // this_.$options.methods.back();

            }).onFail(function(data) {
                console.log('解散群失败：'+JSON.stringify(data));
                alert('解散群失败' + JSON.stringify(data));
            });

	  	},
	  	//点击成员头像-管理扩展
	  	management: function(item) {
				jim_init();
	  	console.log(JSON.stringify(item));
	  		var this_ = this;
	  		if(item.username == uiid){
	  			console.log('不可以点击自己的！');
	  			return;
	  		}
	  		api.openFrame({
				name: "management",
				url: "widget://html/group/management.html",
				rect: {
					x: 0,
					y: 0,
					w: "auto",
					h: "auto"
				},
				pageParam:{
					members_int : item,
					my_flag : this_.my_identity
				}
			});
	  	}

	  }
	})



	//----------------------极光初始化登录-------------------------------------------------------------------------------
		//极光初始化需要的数据
		var JIM = new JMessage(),//极光登录
			timestamp, //当前时间戳
			random_str, //生成随机字符串
			signature;

			//生成随机字符串
			function random(length) {
				var str = Math.random().toString(36).substr(2);
				if(str.length >= length) {
					return str.substr(0, length);
				}
				str += random(length - str.length);
				return str;
			}

			//获取当前时间，格式YYYY-MM-DD
		    function getNowFormatDate() {
		        var date = new Date();
		        var seperator1 = "-";
		        var year = date.getFullYear();
		        var month = date.getMonth() + 1;
		        var strDate = date.getDate();
		        if (month >= 1 && month <= 9) {
		            month = "0" + month;
		        }
		        if (strDate >= 0 && strDate <= 9) {
		            strDate = "0" + strDate;
		        }
		        var currentdate = year + seperator1 + month + seperator1 + strDate;
		        return currentdate;
		    }

			//极光初始化
			// function jim_init(){
			//   //alert('极光初始化');
			// 	timestamp = (new Date()).valueOf(); //当前时间戳
			// 	random_str = random(30); //生成随机字符串
			// 	signature = MD5("appkey=c46c8bc128f41299334ec8e3&timestamp=" + timestamp + "&random_str=" + random_str + "&key=269e7aa2881b1a8767f16ce6");
			//
			// 	console.log("初始化极光");
			// 	JIM.init({
			// 		"appkey": "c46c8bc128f41299334ec8e3",
			// 		"random_str": random_str,
			// 		"signature": signature,
			// 		"timestamp": timestamp,
			// 		"flag": 0
			// 	}).onSuccess(function(data) {
			// 	 	console.log('初始化请求成功回调' + JSON.stringify(data));
			// 		console.log("登录极光");
			// 		JIM.login({
			// 			'username': uiid,
			// 			'password': 123456
			// 		}).onSuccess(function(data) {
			// 			console.log("登录成功" + JSON.stringify(data));
			// 			//获取群信息
			// 			getGroup();
			// 		}).onFail(function(data) {
			// 			console.log("登录失败" + JSON.stringify(data));
			// 		}).onTimeout(function(data) {
			// 		    console.log('登录请求超時回调' + JSON.stringify(data));
			// 		}).onAck(function(data) {
			// 		    console.log('登录请求應答回调' + JSON.stringify(data));
			// 		});
			// 	}).onFail(function(data) {
			// 	    console.log('初始化请求失败回调' + JSON.stringify(data));
			// 	}).onTimeout(function(data) {
			// 	    console.log('初始化请求超時回调' + JSON.stringify(data));
			// 	}).onAck(function(data) {
			// 	    console.log('初始化请求應答回调' + JSON.stringify(data));
			// 	});
			// }
			function jim_init(){

					timestamp = (new Date()).valueOf(); //当前时间戳
					random_str = random(30); //生成随机字符串
					signature = MD5("appkey=c46c8bc128f41299334ec8e3&timestamp=" + timestamp + "&random_str=" + random_str + "&key=269e7aa2881b1a8767f16ce6");
														// if(JIM.isInit()==false){
															console.log("极光未初始化"+JIM.isInit());
													// 初始化极光
															console.log("正在进行初始化极光");
													JIM.init({
														"appkey": "c46c8bc128f41299334ec8e3",
														"random_str": random_str,
														"signature": signature,
														"timestamp": timestamp,
														"flag": 0
													}).onSuccess(function(data) {
														console.log("初始化极光成功");
														if(JIM.isLogin()==false){
															console.log("未登录极光");
															console.log("正在登录极光");
															// 未登录就登录
																	// alert("登录极光");
																JIM.login({
																	'username': uiid,
																	'password': 123456
																}).onSuccess(function(data) {
																	console.log("登录极光成功" + JSON.stringify(data));
																	//获取群信息
																	getGroup();
																}).onFail(function(data) {
																	console.log("登录极光失败" + JSON.stringify(data));
																}).onTimeout(function(data) {
																		console.log('登录极光请求超時回调' + JSON.stringify(data));
																}).onAck(function(data) {
																		console.log('登录登录请求應答回调' + JSON.stringify(data));
																});
														}else{
															 console.log("已登录极光不需要再登录极光");
															//获取群信息
																 	getGroup();
														}


												}).onFail(function(data) {
														console.log('初始化请求失败回调' + JSON.stringify(data));
												}).onTimeout(function(data) {
														console.log('初始化请求超時回调' + JSON.stringify(data));
												}).onAck(function(data) {
														console.log('初始化请求應答回调' + JSON.stringify(data));
												});

										JIM.onMsgReceive(function(data) {
								          api.sendEvent({
								              name: 'messageList',
								              extra: {
								                  key1: data
								              }
								          });
								    })

			}

			function jim_init2(){

				timestamp = (new Date()).valueOf(); //当前时间戳
				random_str = random(30); //生成随机字符串
				signature = MD5("appkey=c46c8bc128f41299334ec8e3&timestamp=" + timestamp + "&random_str=" + random_str + "&key=269e7aa2881b1a8767f16ce6");
														if(JIM.isInit()==false){
															console.log("极光未初始化"+JIM.isInit());
													// 初始化极光
												    	console.log("正在进行初始化极光");
													JIM.init({
														"appkey": "c46c8bc128f41299334ec8e3",
														"random_str": random_str,
														"signature": signature,
														"timestamp": timestamp,
														"flag": 0
													}).onSuccess(function(data) {
														console.log("初始化极光成功");
														if(JIM.isLogin()==false){
															console.log("未登录极光");
															console.log("正在登录极光");
															// 未登录就登录
																	// alert("登录极光");
																JIM.login({
																	'username': uiid,
																	'password': 123456
																}).onSuccess(function(data) {
																	api.sendEvent({
																			name: 'bushua',
																			extra: {
																					key1: 'value1',

																			}
																	});
																	console.log("登录极光成功" + JSON.stringify(data));
																	//获取群信息
																	// getGroup();
																}).onFail(function(data) {
																	console.log("登录极光失败" + JSON.stringify(data));
																}).onTimeout(function(data) {
																    console.log('登录极光请求超時回调' + JSON.stringify(data));
																}).onAck(function(data) {
																    console.log('登录登录请求應答回调' + JSON.stringify(data));
																});
														}else{
															 console.log("已登录极光不需要再登录极光");
															//获取群信息
																//  	getGroup();
														}


												}).onFail(function(data) {
												    console.log('初始化请求失败回调' + JSON.stringify(data));
												}).onTimeout(function(data) {
												    console.log('初始化请求超時回调' + JSON.stringify(data));
												}).onAck(function(data) {
												    console.log('初始化请求應答回调' + JSON.stringify(data));
												});
											}
										else{
											console.log("已经是初始化状态，不需要再初始化");
											//已初始化的直接进入登录判断
											if(JIM.isLogin()==false){
												console.log("未登录极光");
												console.log("正在登录极光");
												// 未登录就登录
														// alert("登录极光");
													JIM.login({
														'username': uiid,
														'password': 123456
													}).onSuccess(function(data) {
														console.log("登录极光成功" + JSON.stringify(data));
														//获取群信息
														// getGroup();
														api.sendEvent({
																name: 'bushua',
																extra: {
																		key1: 'value1',

																}
														});
													}).onFail(function(data) {
														console.log("登录极光失败" + JSON.stringify(data));
													}).onTimeout(function(data) {
															console.log('登录极光请求超時回调' + JSON.stringify(data));
													}).onAck(function(data) {
															console.log('登录登录请求應答回调' + JSON.stringify(data));
													});
											}else{
												 console.log("已登录极光不需要再登录极光");
												//获取群信息
													//  	getGroup();
											}

										}


										JIM.onMsgReceive(function(data) {
								          api.sendEvent({
								              name: 'messageList',
								              extra: {
								                  key1: data
								              }
								          });
								    })
			}

		//获取群的所有信息
		function getGroup(){
	 		   JIM.getGroupInfo({
                  'gid' : gid
               }).onSuccess(function(data) {
               		console.log('我是群信息：'+JSON.stringify(data));
               		group.group = data.group_info;
               		//获取成员列表
               		getGroupMember()
               }).onFail(function(data) {
               		console.log('获取群信息失败');
               });
		}
//		获取'我'在群内的身份和成员信息
		function getGroupMember(){
			var member_list = [];
			JIM.getGroupMembers({
	           'gid' : group.group.gid
          	}).onSuccess(function(data) {
	//             		群成员长度
				var number  = data.member_list.length;
				member_list = data.member_list;
				for(var i = 0;i < member_list.length;i++){
					//获取我在群内的身份
					if(member_list[i].username == uiid){
						group.my_identity = member_list[i].flag;
					}
					(function(m){
						//获取用户头像和用户名
						api.ajax({
							url: json['http'] + json['tin']['userinfo'],
							method: 'post',
							data: {
								values: {
									uiId: member_list[m].username,
									pageUiId: member_list[m].username
								}
							},
							async: false,
						}, function(ret, err) {
							if(ret) {
								number--;
								member_list[m].nickName = ret.data.nickname;//用户名
								member_list[m].avatar = ret.data.avatar_url; //用户头像
//								console.log('我是群成员列表：' + JSON.stringify(member_list));
								if(number == 0){
									group.members = member_list;
									//打开消息提醒按钮组件
//									getSwitchBtn();
								}
							}else{
								number--;
								if(number == 0){
									group.members = member_list;
									//打开消息提醒按钮组件
									getSwitchBtn();
								}
							}
						});
					})(i)
			 	}
	        }).onFail(function(data) {
	            console.log('获取群成员错误');
	        }).onTimeout(function(data) {
				console.log('登录请求超時回调' + JSON.stringify(data));
			}).onAck(function(data) {
				console.log('登录请求應答回调' + JSON.stringify(data));
			});
		}
		//开关按钮-控制消息免打扰
		function getSwitchBtn(){
			var switchBtn = api.require('UISwitchButton');
			//打开前关闭之前的，防止重复打开
			switchBtn.close({
			    id: 'getNews'
			});
			switchBtn.open({
			    id:'getNews',
			    state:group.my_keep_silence,
			    rect: {
			      x: $('.getMessage').offset().left - $(window).width() * 0.06,
			      y: $('.getMessage').offset().top - 1,
			      w: 40,
			      h: $(window).width() * 0.075
			    },
			    styles:{
			       bgCorner:12,
			       active:'#EEE' ,
			       inActive:'#0F0',
			       thumb:{
			          active:'#FFF' ,
			          inActive:'#FFF' ,
			          size:18,
			          corner:10
			       }
			    },
			    fixedOn: '',
			    fixed: false
			}, function(ret) {
			    console.log(JSON.stringify(ret));
			});

		}
		//修改群资料和群名称
		function modify(type,content){
			var groupName = group.group.name,
				groupDesc = group.group.desc;
			if(type == 'groupName'){//修改群资料
				groupName = content;
			}else{
				groupDesc = content;
			}
			if(groupDesc == ''){
				groupDesc = ' ';
			}
			console.log(groupName+'=============='+groupDesc);
			api.ajax({
			    url: 'http://api.baopinghui.com/tin_Groups/updateGroupName',
			    method: 'post',
			    data: {
			        values: {
								  name:groupName,
			            gid:gid
			        },
			    }
			},function(ret, err){
			    if (ret) {
						  //alert(JSON.stringify(group.group));
			        //alert( "修改成功");
							// api.closeWin({
							// });

			    } else {
			        //alert( "修改失败");
							// api.closeWin({
							// });
			    }
			});

			JIM.updateGroupInfo({
               'gid' : gid,
               'group_name' : groupName
               //'group_description' : groupDesc
            }).onSuccess(function(data) {
               //alert('修改群数据成功：' + JSON.stringify(data));
               api.openFrame({//打开通用提示框
					name: "out",
					url: "widget://html/nav/out.html",
					rect: {
						x: 0,
						y: 0,
						w: "auto",
						h: "auto"
					},
					pageParam:{
						group: true
					}
				});
               getGroup();
            }).onFail(function(data) {
            	console.log('修改群数据失败：' + JSON.stringify(data));
            	alert('修改群数据失败：' + JSON.stringify(data));
                   // 同上
            });

		};

		//定义刷新群聊页面函数
		function refreshfn(){

			var refresh = "window.location.reload();";

			// //刷新win
			// api.execScript({
			// 	  name: 'group_chat',
			// 		script: refresh
			// });

			// api.execScript({
			// 		name: 'index2',
			// 		frameName: 'recommend_list2',
			// 		script: refresh
			// });

		};

		//定义刷新当前页面函数
		function refreshfn_ing(){
			window.location.reload();
			//self.location=document.referrer;
			// var refresh = "window.location.reload();";
			// if($api.getStorage("frameName")){//刷新fram
			// 	api.execScript({
			// 		frameName: $api.getStorage("frameName"),
			// 			script: refresh
			// 	});
			// 	api.closeFrame({});
			// 	return;
			// };
			// //alert('group_chat');
			// //刷新win
			// api.execScript({
			// 		name: 'group_chat',
			// 		script: refresh
			// });
			// api.closeFrame({});
			//alert('刷新页面')
		};

		//添加群管理员
		function addAdmin(username){
			JIM.addGroupKeeper({
                'gid' : gid,
          		'member_usernames' : [{'username' : username}]
            }).onSuccess(function(data) {
                console.log('添加群管理员成功！' + JSON.stringify(data));
                //更新成员数据
                getGroupMember();
                alert('添加群管理员成功！');
            }).onFail(function(data) {
            	console.log('添加群管理员失败！' + JSON.stringify(data));
                alert('添加群管理员失败！');
                  // 同上
            });
		}
		//移除群管理员
		function removeAdmin(username){
			JIM.delGroupKeeper({
                'gid' : gid,
          		'member_usernames' : [{'username' : username}]
            }).onSuccess(function(data) {
                console.log('移除群管理员成功！' + JSON.stringify(data));
                //更新成员数据
                getGroupMember();
                alert('移除群管理员成功！');
            }).onFail(function(data) {
            	console.log('移除群管理员失败！' + JSON.stringify(data));
                alert('移除群管理员失败！');
                  // 同上
            });
		}
		//测试你好世界
		function helloworld() {
			alert('你好，世界');
			window.location.reload();
		}
		//删除群成员
		function delGroupMembers(username){
			JIM.delGroupMembers({
                'gid' : gid,
          		'member_usernames' : [{'username' : username}]
            }).onSuccess(function(data) {
                console.log('删除群成员成功！' + JSON.stringify(data));
                //更新成员数据
                getGroupMember();
                alert('删除群成员成功！');
								//window.location.reload();
								refreshfn_ing();
            }).onFail(function(data) {
            	console.log('删除群成员失败！' + JSON.stringify(data));
                alert('删除群成员失败！');
                  // 同上
            });
		};




		//添加群成员
		function addMembers(Member_id){
			console.log(Member_id);
				JIM.addGroupMembers({
                  	'gid' : gid,
          			'member_usernames' : [{'username':Member_id}]
               	}).onSuccess(function(data) {

									api.ajax({
											url: 'http://api.baopinghui.com/tin_Groups/updateGroupsActive',
											method: 'post',
											data: {
													values: {
															operation: 'join',
															gid:gid
													},
											}
									},function(ret, err){
											if (ret) {
													//alert( JSON.stringify( ret ) );
													//alert("操作成功");
													//window.location.reload();
											} else {
													alert( "操作失败"+JSON.stringify( err ) );
											}
									});




               		alert('添加群成员成功');
									//window.location.reload();
									refreshfn_ing();
	                //更新成员数据
	                getGroupMember();
					console.log('添加群成员成功：' + JSON.stringify(data));
               	}).onFail(function(data) {
               		alert('添加群成员失败');
					console.log('添加群成员失败：' + JSON.stringify(data));
                  //同上
               	});
		};


		//断线了~~~~
			JIM.onDisconnect(function(){
  				console.log('断线了~~~~');
  				jim_init();//重新初始化登录
  			});
//		我是群信息：{
//		"group_info":{
//		"gid":25749155,
//		"level":null,
//		"name":"大霸王的群組4",
//		"ctime":"1523415396",
//		"appkey":"c46c8bc128f41299334ec8e3",
//		"avatar":"","mtime":"1523415396",
//		"max_member_count":500,
//		"desc":"",
//		"group_type":2
//		},"code":0,"message":"success"}
//
//
//		我是群成员列表：[{
//		"flag":1,
//		"nickName":"大霸王",
//		"keep_silence":false,
//		"shield_flag":0,
//		"appkey":"c46c8bc128f41299334ec8e3",
//		"avatar":"f8cc5f9956df68260156dffa4e9b00141516423321193",
//		"username":"f8cc5f9956df68260156dffa4e9b0014"}]

</script>
</html>
